# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/mcp.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings
__screenshots__/

# System files
.DS_Store
Thumbs.db
src/assets/data/FRAME_DATA_SCREENSHOT_TEMPLATE.md
src/assets/data/image-1.png
src/assets/data/image-3.png
src/assets/data/image-2.png
src/assets/data/image-4.png
src/assets/data/image-5.png
src/assets/data/image-6.png
src/assets/data/image-7.png
src/assets/data/image-9.png
src/assets/data/image-8.png
src/assets/data/image-10.png
src/assets/data/FRAME_DATA_TEMPLATE.md
src/assets/data/image-11.png
src/assets/data/image-12.png
src/assets/data/image.png
