<!--
  FOOTER COMPONENT
  
  The footer appears at the bottom of every page.
  It has two parts:
  1. Links row - Navigation links
  2. Copyright row - Legal text
-->
<div class="footer">
  <div class="footer-links">
    <a routerLink="/">Home</a>
    <a routerLink="/about">About</a>
    <a routerLink="/contact">Contact</a>
    <a routerLink="/donate">Donate</a>
    <a routerLink="/privacy-policy">Privacy Policy</a>
  </div>
  <div class="copyright">
    Copyright &copy; 2023 Kombat Akademy. All other trademarks and copyrights are the property of their respective owners. All rights reserved. Mortal Kombat&reg;, characters, images and font are trademarks of and &copy; NetherRealm Studios, a subsidiary of Warner Bros. Interactive Entertainment Inc. This site is unaffiliated.
  </div>
</div>