<div class="characters-page">
  <div class="page-title">CHARACTERS</div>
  <div class="page-content">
    <div class="character-roster">
      <div class="character-roster-row" *ngFor="let row of characterRows">
        <a *ngFor="let character of row"
           [routerLink]="['/character', character.slug]"
           class="character-portrait"
           [style.background-image]="'url(/assets/images/characters/portraits/' + character.slug + '.jpg)'"
           [title]="character.name">
        </a>
      </div>
    </div>
  </div>
</div>
